<!DOCTYPE html>
<html lang="en" class="light">

<head>
  <meta charset="UTF-8">
  <title>PHC - Stock Management</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel="stylesheet" href="css/patient.css">
</head>

<body>
  <div class="app-container">
    <%- include('partials/sidebar') %>
      <div class="app-content">
        <%- include('partials/patient_header') %>
          <div class="app-content-actions">
            <form action="/patient" method="get">
              <input class="search-bar" id="search-bar" name="query" placeholder="Search..." type="text"
                value="<%= searchQuery %>">
            </form>
            <div class="app-content-actions-wrapper">
            </div>
          </div>
          <div class="patients-area-wrapper tableView">
            <div class="patients-header">
              <div class="patient-cell patient-id">Patient Id<button class="sort-button">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 512 512">
                    <path fill="currentColor"
                      d="M496.1 138.3L375.7 17.9c-7.9-7.9-20.6-7.9-28.5 0L226.9 138.3c-7.9 7.9-7.9 20.6 0 28.5 7.9 7.9 20.6 7.9 28.5 0l85.7-85.7v352.8c0 11.3 9.1 20.4 20.4 20.4 11.3 0 20.4-9.1 20.4-20.4V81.1l85.7 85.7c7.9 7.9 20.6 7.9 28.5 0 7.9-7.8 7.9-20.6 0-28.5zM287.1 347.2c-7.9-7.9-20.6-7.9-28.5 0l-85.7 85.7V80.1c0-11.3-9.1-20.4-20.4-20.4-11.3 0-20.4 9.1-20.4 20.4v352.8l-85.7-85.7c-7.9-7.9-20.6-7.9-28.5 0-7.9 7.9-7.9 20.6 0 28.5l120.4 120.4c7.9 7.9 20.6 7.9 28.5 0l120.4-120.4c7.8-7.9 7.8-20.7-.1-28.5z" />
                  </svg>
                </button></div>
              <div class="patient-cell patient-name">Patient Name<button class="sort-button">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 512 512">
                    <path fill="currentColor"
                      d="M496.1 138.3L375.7 17.9c-7.9-7.9-20.6-7.9-28.5 0L226.9 138.3c-7.9 7.9-7.9 20.6 0 28.5 7.9 7.9 20.6 7.9 28.5 0l85.7-85.7v352.8c0 11.3 9.1 20.4 20.4 20.4 11.3 0 20.4-9.1 20.4-20.4V81.1l85.7 85.7c7.9 7.9 20.6 7.9 28.5 0 7.9-7.8 7.9-20.6 0-28.5zM287.1 347.2c-7.9-7.9-20.6-7.9-28.5 0l-85.7 85.7V80.1c0-11.3-9.1-20.4-20.4-20.4-11.3 0-20.4 9.1-20.4 20.4v352.8l-85.7-85.7c-7.9-7.9-20.6-7.9-28.5 0-7.9 7.9-7.9 20.6 0 28.5l120.4 120.4c7.9 7.9 20.6 7.9 28.5 0l120.4-120.4c7.8-7.9 7.8-20.7-.1-28.5z" />
                  </svg>
                </button></div>
              <div class="patient-cell status-cell visit-date">Visit Date<button class="sort-button">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 512 512">
                    <path fill="currentColor"
                      d="M496.1 138.3L375.7 17.9c-7.9-7.9-20.6-7.9-28.5 0L226.9 138.3c-7.9 7.9-7.9 20.6 0 28.5 7.9 7.9 20.6 7.9 28.5 0l85.7-85.7v352.8c0 11.3 9.1 20.4 20.4 20.4 11.3 0 20.4-9.1 20.4-20.4V81.1l85.7 85.7c7.9 7.9 20.6 7.9 28.5 0 7.9-7.8 7.9-20.6 0-28.5zM287.1 347.2c-7.9-7.9-20.6-7.9-28.5 0l-85.7 85.7V80.1c0-11.3-9.1-20.4-20.4-20.4-11.3 0-20.4 9.1-20.4 20.4v352.8l-85.7-85.7c-7.9-7.9-20.6-7.9-28.5 0-7.9 7.9-7.9 20.6 0 28.5l120.4 120.4c7.9 7.9 20.6 7.9 28.5 0l120.4-120.4c7.8-7.9 7.8-20.7-.1-28.5z" />
                  </svg>
                </button></div>
              <div class="patient-cell doctor">Doctor Name<button class="sort-button">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 512 512">
                    <path fill="currentColor"
                      d="M496.1 138.3L375.7 17.9c-7.9-7.9-20.6-7.9-28.5 0L226.9 138.3c-7.9 7.9-7.9 20.6 0 28.5 7.9 7.9 20.6 7.9 28.5 0l85.7-85.7v352.8c0 11.3 9.1 20.4 20.4 20.4 11.3 0 20.4-9.1 20.4-20.4V81.1l85.7 85.7c7.9 7.9 20.6 7.9 28.5 0 7.9-7.8 7.9-20.6 0-28.5zM287.1 347.2c-7.9-7.9-20.6-7.9-28.5 0l-85.7 85.7V80.1c0-11.3-9.1-20.4-20.4-20.4-11.3 0-20.4 9.1-20.4 20.4v352.8l-85.7-85.7c-7.9-7.9-20.6-7.9-28.5 0-7.9 7.9-7.9 20.6 0 28.5l120.4 120.4c7.9 7.9 20.6 7.9 28.5 0l120.4-120.4c7.8-7.9 7.8-20.7-.1-28.5z" />
                  </svg>
                </button>
              </div>
              <div class="patient-cell prescription">View Prescription<button class="sort-button">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 512 512">
                    <path fill="currentColor"
                      d="M496.1 138.3L375.7 17.9c-7.9-7.9-20.6-7.9-28.5 0L226.9 138.3c-7.9 7.9-7.9 20.6 0 28.5 7.9 7.9 20.6 7.9 28.5 0l85.7-85.7v352.8c0 11.3 9.1 20.4 20.4 20.4 11.3 0 20.4-9.1 20.4-20.4V81.1l85.7 85.7c7.9 7.9 20.6 7.9 28.5 0 7.9-7.8 7.9-20.6 0-28.5zM287.1 347.2c-7.9-7.9-20.6-7.9-28.5 0l-85.7 85.7V80.1c0-11.3-9.1-20.4-20.4-20.4-11.3 0-20.4 9.1-20.4 20.4v352.8l-85.7-85.7c-7.9-7.9-20.6-7.9-28.5 0-7.9 7.9-7.9 20.6 0 28.5l120.4 120.4c7.9 7.9 20.6 7.9 28.5 0l120.4-120.4c7.8-7.9 7.8-20.7-.1-28.5z" />
                  </svg>
                </button>
              </div>
            </div>
            <% for(let patient of item) {%>
              <div class="patients-row">
                <div class="patient-cell patient-id"><span class="cell-label">Patient Id:</span>
                  <%= patient.user_id_id%>
                </div>
                <div class="patient-cell status-cell visit-date">
                  <span class="cell-label">Visit Date:</span>
                  <span class="status active">
                    <%= patient.date%>
                  </span>
                </div>
                <div class="patient-cell patient-name"><span class="cell-label">pack-size:</span>
                  <%= patient.patient_name %>
                </div>
                <div class="patient-cell doctor"><span class="cell-label">Doctor:</span>
                  <%= patient.doctor_name %>
                </div>
                <div class="patient-cell prescription"><span class="cell-label">View Prescription:</span><button class="view-prescription-btn" data-id="<%= patient.prescription_id %>">View Prescription</button></div>
              </div>
              <% } %>
          </div>
          <div id="prescriptionPopup" class="pres_popup">
            <div class="prescription-popup-content">
              <span class="prescription-close-btn">&times;</span>
              <div class="prescription-header">
                <div class="logo"></div>
                <div class="prescription-title">
                  <div class="main-title">Primary Health Center</div>
                  <div class="sub-title">PDPM IIITDM Jabalpur</div>
                </div>
              </div>
              
              <div class="prescription-details">
                <div class="doctor-details"></div>
                <div class="patient-details"></div>
                <div class="patient-age-details"></div>
                <table class="medicines-table">
                  <thead>
                    <tr>
                      <th>Medicine Name</th>
                      <th>Quantity</th>
                      <th>Days</th>
                      <th>Times</th>
                      <th>Revoked Status</th>
                      <th>Revoked Date</th>
                    </tr>
                  </thead>
                  <tbody></tbody>
                </table>
              </div>
              <button class="print-btn">Print Prescription</button>
              <button class="add-more-medicine-btn">Add Medicine</button>
            </div>
          </div>
          <div id="addMedicinePopup" class="add-medicine-popup">
            <div class="add-medicine-popup-content">
              <span class="add-medicine-close-btn">&times;</span>
              <h2>Add Medicine</h2>
              <div class="medicine-entry-container">
                <div class="medicine-row">
                  <label for="new_medicine_name">Medicine Name:</label>
                  <input type="text" class="new_medicine_name" name="new_medicine_name" onkeyup="fetchextraMedSuggestions(this)" required>
                  <div class="suggestions_extra"></div>
                  <div class="inline-fields">
                    <input type="text" class="new_manufacturer_name" placeholder="Manufacturer" name="new_manufacturer_name" required>
                    <input type="text" class="new_pack_size_label" placeholder="Pack Size Label" name="new_pack_size_label" required>
                  </div>
                  <div class="inline-fields">
                    <input type="text" placeholder="Quantity" name="new_quantity" required>
                    <input type="text" placeholder="Days" name="new_days" required>
                    <input type="text" placeholder="Times" name="new_times" required>
                  </div>
                </div>
              </div>
              <input type="hidden" class="prescription_id" name="prescription_id" value="<%  %>">
              <button class="save-medicine-btn">Save</button>
            </div>
          </div>
          
          <div class="pagination">
            <% if (currentPage>1) { %>
              <a href="/patient?page=<%= currentPage - 1 %>&query=<%= searchQuery %>">Prev</a>
              <% } %>
                <span>Page <%= currentPage %> of <%= totalPages %></span>
                <% if (currentPage < totalPages) { %>
                  <a href="/patient?page=<%= currentPage + 1 %>&query=<%= searchQuery %>">Next</a>
                  <% } %>
          </div>
      </div>
  </div>

  <script src="js/script.js"></script>

</body>

</html>